In [62]:
import numpy as np
import pandas as pd

In [63]:
data_train = pd.read_csv("data/train_data.csv")

In [64]:
data_train.head()

   ID                                               Text   Labels
0   1  我就奇怪了  为啥你能拍得这么美呢 __eou__ 因为我做什么都认真，都诚心诚意！ __e...   2222.0
1   2  是这是人家自己的事就算我能见到她也不会说你们分手吧什么的可是我真心不喜欢冯绍峰这个理由够吗 ...   5555.0
2   3  狂上加狂的旧时燕飞帝王家和危宫惊梦 __eou__ 哈哈，我也推这本。她古文好厉害 __eo...   6222.0
3   4  呵呵呵呵呵呵呵呵你拍我家枇杷树跟我说了嘛！！！不准吃我家枇杷！！！都我的！！！ __eou_...   5555.0
4   5  哎，我就吃下这个哑巴亏算了 __eou__ 呔，妖怪，死到临头还嘴硬 __eou__ 真不愧...  35536.0

In [65]:
data_train = data_train.dropna(how='any')
data_train.info()
data_train.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8414 entries, 0 to 8413
Data columns (total 3 columns):
ID        8414 non-null int64
Text      8414 non-null object
Labels    8414 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 262.9+ KB

        ID                                               Text  Labels
8409  8410  姗姗文笔很好啊 __eou__ 姗姗文采正经不错和我在伯仲之间吧 __eou__ 见识过你的...  2666.0
8410  8411  哈哈哈哈哈，难以想象那张地包天也是出自我手 __eou__ 他发的这张在朋友圈好评多多 __...  1222.0
8411  8412  帅哥，生活惬意到让人眼红啊 __eou__ 你们也快了！几号出发？ __eou__ 要考试了...  2662.0
8412  8413  你不是我认识的fsr了 __eou__ 我还是那个天真善良玉树临风的我 __eou__ 我看...  6666.0
8413  8414  脸好小啊啊啊啊羡慕 __eou__ 很难，我都胖成麻瓜那样了，因为脸不长肉，谁都给我硬塞饭 ...  2331.0

In [66]:
data_train['Labels'] = data_train['Labels'].apply(lambda x: str(int(x)))

In [67]:
def splitBy(para, labels):
    strs = para.split('__eou__ ')
    res = []
    for i in range(0, len(labels)-1):
    #for i in range(0, len(labels)):
        res.append([strs[i], int(labels[i])])
    return np.array(res)
df_array = np.array(['text', 0])
for i in range(0, len(data_train)):
    para = data_train['Text'][i]
    labels = data_train['Labels'][i]
    res = splitBy(para, labels)
    df_array = np.append(df_array, res)
df_array

array(['text', '0', '我就奇怪了\xa0\xa0为啥你能拍得这么美呢 ', ..., '3',
       '你这太好看了，我脸也胖身上也胖呜呜呜呜 ', '3'], dtype='<U74')

In [68]:
df_array = df_array.reshape(int(df_array.shape[0]/2), 2)

In [69]:
df_array.shape

(28406, 2)

In [70]:
df_array

array([['text', '0'],
       ['我就奇怪了\xa0\xa0为啥你能拍得这么美呢 ', '2'],
       ['因为我做什么都认真，都诚心诚意！ ', '2'],
       ...,
       ['脸好小啊啊啊啊羡慕 ', '2'],
       ['很难，我都胖成麻瓜那样了，因为脸不长肉，谁都给我硬塞饭 ', '3'],
       ['你这太好看了，我脸也胖身上也胖呜呜呜呜 ', '3']], dtype='<U74')

In [71]:
new_df = pd.DataFrame(df_array, columns=["text", "label"])
new_df = new_df.drop(new_df.index[0])
new_df.head()

                                             text label
1                              我就奇怪了  为啥你能拍得这么美呢      2
2                               因为我做什么都认真，都诚心诚意！      2
3                 好你诚心诚意！我谦虚低调！咱都是优秀品格的人再赞一个  干杯      2
4  是这是人家自己的事就算我能见到她也不会说你们分手吧什么的可是我真心不喜欢冯绍峰这个理由够吗      5
5                  最起码那孩子对倪妮没恶意，你不开心也别来这里找人吵架不好吗      5

In [ ]:
######test处理

In [51]:
data_test = pd.read_csv("data/test_data_new.csv")
data_test.tail()

       ID                                               Text   Label
995   996  哎绍兴会有吗求来上虞开一家，可以开在万达嘛 __eou__ 绍兴有一家正在筹备中 __eou...     666
996   997  这个彤彤好可爱哦 __eou__ 多油腻啊头发被耳机压的钱今晚住网咖了 __eou__ 为啥...  266663
997   998  苹果姐我想买台微单有好的推荐吗？希望是4000以下的我拍摄风景和儿童为多，我属于入门阶级谢谢...     666
998   999  所以城野医生的水好用吗？之前一直想入来的 __eou__ 没啥用就是橘子味好闻然后敷上去凉凉...    6665
999  1000  2017的梦想是嫁给我喜欢的人，已经实现了！2018希望我们的小baby顺利出生，老公永远爱...     222

In [52]:
data_test = data_test.dropna(how='any')
data_test.info()
data_test.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 3 columns):
ID       1000 non-null int64
Text     1000 non-null object
Label    1000 non-null int64
dtypes: int64(2), object(1)
memory usage: 31.2+ KB

       ID                                               Text   Label
995   996  哎绍兴会有吗求来上虞开一家，可以开在万达嘛 __eou__ 绍兴有一家正在筹备中 __eou...     666
996   997  这个彤彤好可爱哦 __eou__ 多油腻啊头发被耳机压的钱今晚住网咖了 __eou__ 为啥...  266663
997   998  苹果姐我想买台微单有好的推荐吗？希望是4000以下的我拍摄风景和儿童为多，我属于入门阶级谢谢...     666
998   999  所以城野医生的水好用吗？之前一直想入来的 __eou__ 没啥用就是橘子味好闻然后敷上去凉凉...    6665
999  1000  2017的梦想是嫁给我喜欢的人，已经实现了！2018希望我们的小baby顺利出生，老公永远爱...     222

In [53]:
data_test['Label'] = data_test['Label'].apply(lambda x: str(int(x)))
def splitBy(para, labels):
    strs = para.split('__eou__ ')
    res = []
    for i in range(0, len(labels)):
    #for i in range(0, len(labels)):
        res.append([strs[i], int(labels[i])])
    return np.array(res)
df_array = np.array(['text', 0])

for i in range(0, len(data_test)):
    para = data_test['Text'][i]
    labels = data_test['Label'][i]
    res = splitBy(para, labels)
    df_array = np.append(df_array, res)
df_array

array(['text', '0', '竟然有脑残支持郭敬明 ', ..., '2', '谢谢哈也祝你早日找到另一半 ', '2'],
      dtype='<U81')

In [54]:
df_array = df_array.reshape(int(df_array.shape[0]/2), 2)
df_array.shape

(3341, 2)

In [55]:
df_array

array([['text', '0'],
       ['竟然有脑残支持郭敬明 ', '5'],
       ['很多那样的粉好吓人 ', '5'],
       ...,
       ['2017的梦想是嫁给我喜欢的人，已经实现了！2018希望我们的小baby顺利出生，老公永远爱我！ ', '2'],
       ['恭喜你了，祝福你了 ', '2'],
       ['谢谢哈也祝你早日找到另一半 ', '2']], dtype='<U81')

In [56]:
new_df_test = pd.DataFrame(df_array, columns=["text", "label"])
new_df_test = new_df_test.drop(new_df_test.index[0])
new_df_test.head()

                                             text label
1                                     竟然有脑残支持郭敬明      5
2                                      很多那样的粉好吓人      5
3                   追星也要有个底吧感觉脑残粉像是被洗脑了三观都没了太可怕了      5
4                 你居然也记得珍珠传奇！！！那可能是我记事之后看的第一部电视剧      6
5  当时觉得老好看了，古装还是武打，虽然也没看明白当时不明白珍珠怎么会喜欢冯力，他长得又不好看      2

In [57]:
new_df.tail()

                                       text label
36815                               那你想想就好了     6
36816                            脸好小啊啊啊啊羡慕      2
36817          很难，我都胖成麻瓜那样了，因为脸不长肉，谁都给我硬塞饭      3
36818                  你这太好看了，我脸也胖身上也胖呜呜呜呜      3
36819  匀称点好！我腰以下疯长肉，腰以皮包骨。难受，我有两张都是老u的衣服哈哈哈     1

In [58]:
new_df_test.tail()

                                                   text label
3336                                           说好的收毛孔呢      6
3337                                          童话里都是骗人的      5
3338  2017的梦想是嫁给我喜欢的人，已经实现了！2018希望我们的小baby顺利出生，老公永远爱我！      2
3339                                         恭喜你了，祝福你了      2
3340                                     谢谢哈也祝你早日找到另一半      2

In [59]:
final_data = pd.concat([new_df, new_df_test], axis=0)

In [60]:
final_data = final_data.reset_index(drop=True)
final_data.tail()

                                                    text label
40154                                           说好的收毛孔呢      6
40155                                          童话里都是骗人的      5
40156  2017的梦想是嫁给我喜欢的人，已经实现了！2018希望我们的小baby顺利出生，老公永远爱我！      2
40157                                         恭喜你了，祝福你了      2
40158                                     谢谢哈也祝你早日找到另一半      2

In [61]:
final_data.to_csv("final_train_single.csv")