In [2]:
import pandas as pd

from sklearn.utils import shuffle

In [4]:
pd_all = pd.read_csv("./data/final_train_single.csv", sep=',', encoding='utf-8') 
pd_all.drop(['Unnamed: 0'], axis=1, inplace=True)
pd_all = shuffle(pd_all).reset_index()
pd_all.drop(['index'], axis=1, inplace=True)
pd_all[['label', 'text']] = pd_all[['text', 'label']]
pd_all.columns = ['label', 'text']
pd_all.tail()

       label                          text
31740      6              只要不是严重的骨性问题，都可以
31741      2  比某女漂亮的多，人家天然不整容，既然喜欢他，就送他祝福
31742      6      啊新成员啊我们家怎么会有新成员啊不都齐了吗谁啊
31743      6             你淳的技术作为一个直男已经挺好了
31744      5           可以理解，脑残，要不是我那么关心你呢

In [5]:
df_train = pd_all.iloc[:int(len(pd_all)*0.95)]
df_train.to_csv("bert_data/train.csv", index=None)
df_train.tail()

       label                  text
30152      5    你妈更渴望，也许现在在等你呢，听听
30153      6              确实拔了显脸小
30154      5  典型的懒惰、推诿而且又笨拙的管理方式！
30155      6               你过得怎样吖
30156      6         都没有看到江山发微博帖啊

In [6]:
df_dev = pd_all.iloc[int(len(pd_all)*0.95):int(len(pd_all)*1)]
df_dev.to_csv("bert_data/dev.csv", index=None)
df_dev.head()

       label                                          text
30157      4                                     我瞬间被吓到了！
30158      6                               葡语的女人问呢可以不会？？？
30159      6  对的！！就是我那天跟你讲的这个怪毛病亚！今天洗手水碰到也好痛尼玛可是它看上去完好无损阿
30160      6                                     是的，那是真爱。
30161      6                              我们长得丑的要多睡觉  快睡觉

In [10]:
df_test = pd_all
df_test['label'] = df_test['label'].apply(lambda x: 1)
df_test.to_csv("test.csv", index=None)
df_test.head()

   label                                 text
0      1   昨晚看最强大脑都烦死了看的一头的火都是因为那个没素质，没事瞎bb的人
1      1  哈哈鸡窝我也是歌词完全不懂也跟着唱刚才google了一下才知道歌词大意
2      1                       我给你介绍个有pr的妹子好了
3      1                        天啊！我太开心了！谢谢你哦
4      1                        愿你见一下西北大小伙的歌喉